'.source.sml':
    'case':
        'prefix': 'case'
        'body': '(case ${1:expression} of\n     ${2:pattern1} => ${3:body1}\n   | ${4:pattern2} => ${5:body2})'
    'function':
        'prefix': 'fun'
        'body':
            """fun ${1:function_name} ${2:arguments} = ${3:body}
               \t| ${1:function_name} ${4:arguments} = ${5:body}"""
    'let':
        'prefix': 'let'
        'body': """
          let
          \t  $1
          \tin
          \t ${2:content}
          \tend
        """
