'.source.cm':
  'editor':
    'foldEndPattern': '\\*\\)'
    'commentStart': '(*'
    'commentEnd': '*)'
'.source.mlb':
  'editor':
    'commentStart': '(*'
    'commentEnd': '*)'
'.source.sml':
  'autoIndent': true
  'showIndentGuide': true
  'tabLength': 2
  'editor':
    'foldEndPattern': '\\*\\)'
    'commentStart': '(*'
    'commentEnd': '*)'
